<configuration>
  <appSettings>
    <add key="GoogleCreditials" value="mergecolors-29112001-3ecc55b9fa90.json" />
    <add key="TelegramApi" value="6013670733:AAE6_Am2-dfoJ5PDN1LSnc1S2hvDbgkSL7w" />
    <add key="OpenAIAPI" value="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" />
  </appSettings>
</configuration>