<configuration>
  <appSettings>
    <add key="VkApi" value="vk1.a.4v5MfyHd_5GbJ4TU6cJ1fcqsm-V4y6VQCyKRwloGl_a6iVZrxJvWtPj9kBxpnPemvA0oEOOVWSD5m5qEb-IWQqnv8lQROSIY6exT7wV2FM0FFFSsTKKVpT_6sdJg6PrSm1jlC_Fh3XCeLsqYS5yY-RnCR57_w_CkmPuzO2bTGN-SmdAzVAUYPr_oJkB3lhUU_7pxkeU8hPlnghM5F-BJSw" />
  </appSettings>
</configuration>